<!doctype html>
<html lang="en">
    <head>
        <title>Contact manager</title>
        
        <style>
            #allContacts { margin-top: 2em; }        
        </style>
        
        {% block javascripts %}
            <script src="{{ asset('bundles/acmecontacts/js/underscore-min.js') }}"></script>
            <script src="{{ asset('bundles/acmecontacts/js/jquery-1.8.3.min.js') }}"></script>
            <script src="{{ asset('bundles/acmecontacts/js/backbone-min.js') }}"></script>
            <script src="{{ asset('bundles/acmecontacts/js/main.js') }}"></script>
            <script src="{{ asset('bundles/acmecontacts/js/models.js') }}"></script>
            <script src="{{ asset('bundles/acmecontacts/js/views.js') }}"></script>
            <script src="{{ asset('bundles/acmecontacts/js/router.js') }}"></script>
            <script src="{{ asset('bundles/acmecontacts/js/collections.js') }}"></script>
        {% endblock %}        
    </head>
    <body>
        <h1>Contact manager</h1>
        
        <form id="addContact">
            <div>
                <label for="first_name">Name: </label>
                <input type="text" id="first_name" name="first_name" required>
            </div>
            <div>
                <label for="last_name">Lastname: </label>
                <input type="text" id="last_name" name="last_name" required>
            </div>
            <div>
                <label for="email_address">Email: </label>
                <input type="email" id="email_address" name="email_address" required>
            </div>
            <div>
                <label for="description">Description: </label>
                <textarea id="description" name="description"></textarea>
            </div>
            <div>
                <input type="submit" value="Add contact">
            </div>
        </form>
        
        <table id="allContacts">
            <thead>
                <tr>
                    <td><strong>Name</strong></td>
                    <td><strong>Last name</strong></td>
                    <td><strong>Email</strong></td>
                    <td><strong>Description</strong></td>
                    <td><strong>Action</strong></td>
                </tr>
            </thead>
        </table>        
        
        <script id="contactTpl" type="text/x-underscore-template">
            <td><%= first_name %></td>
            <td><%= last_name %></td>
            <td><%= email_address %></td>
            <td><%= description %></td>
            <td>
                <a href="#/<%= id %>/edit" class="edit">Edit</a>    
                <a href="#/<%= id %>/delete" class="delete">Delete</a>
            </td>    
        </script>
        
        <script id="editContactTpl" type="text/x-underscore-template">
            <h2> Contact editing: <%= last_name %> <%= first_name %></h2>
            <form id="edit-contact-form">
            <div>
            <label for="edit_first_name">Имя:</label>
            <input type="text" id="edit_first_name" name="edit_first_name" value="<%= first_name %>">
            </div>
            <div>
            <label for="edit_last_name">Фамилия:</label>
            <input type="text" id="edit_last_name" name="edit_last_name" value="<%= last_name %>"> 
            </div>
            <div>
            <label for="edit_email_address">Email:</label>
            <input type="text" id="edit_email_address" name="edit_email_address" value="<%= email_address %>">
            </div>
            <div>
            <label for="edit_description">Описание:</label>
            <textarea id="edit_description" name="edit_description"><%= description %></textarea>
            </div>
            <div>
            <input type="submit" value="Save changes">
            <button type="button" class="cancel">Cancel</button>            
            </div>
            </form>
        </script>
        
        <div class="editContact">

        </div>        

        <script>
            new App.Router();
            Backbone.history.start();

            App.contacts = new App.Collections.Contacts();
            App.contacts.fetch().then(function() {
                new App.Views.App({collection: App.contacts});
            });
        </script>
            
        </body>
    </html>